@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap'); /*importing Overpass font from GoogleAPIs*/

/*reseting all the marging and padding for the html
which means that all the content should be moved to left-top of the page*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*style definitions for the whole body*/
body{
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    background-color: hsl(216, 12%, 8%);
    margin: 4%; /*Putting some margin in the body*/
    display: flex; /*Making the divs inside the body be side-by-side on the page*/
    flex-direction: column;/*Making the divs inside the body be side-by-side on the page*/
    align-items: center;
    justify-content: center;
    min-height: 100vh; /*Putting the Divs at the center of the screen*/
}

/*removing bullets from the list items - rate buttons*/
ul{
    list-style-type: none;
}

/*style definition for the buttons*/
button{
    font-family: inherit; /*get the same font-family from the body*/
}

/*defining the height between the lines in a paragraph*/
p{
    line-height: 1.8;
}

/*style definition for the main-container (rating part) and thankyou part*/
.main-container, .thank-you{
    background-color: hsl(213, 19%, 18%);
    padding: 5%; /*Making the container higher*/
    border-radius: 5%; /*Making the border a little bit round*/
    max-width: 450px;
}

.main-container h1{
    color: white;
    margin: 5% 0% 5%; /*margins 5%: top 0%: left and right and 1% bottom*/
}

.main-container img{
    background-color: hsl(215, 17%, 26%);
    padding: 1%; /*Getting the borders wider*/
    border-radius: 50%; /*Getting the borders rounded, like a circle*/
}

.main-container p{
    color: hsl(217, 12%, 63%);
    margin-bottom: 5%;
}

.main-container ul{
    display: flex;
    flex-wrap: wrap; /*in small screens, buttons go to the next line when reaching to the end of the screen*/
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
}

.main-container ul li button{
    background-color: hsl(213, 20%, 22%);
    color: white;
    width: 50px; /*setting the rating buttons wider*/
    height: 50px; /*setting the rating buttons bigger*/
    border: none;
    border-radius: 50px;
    padding-top: 10%;
    cursor: pointer; /*changes the arrow to pointer when mouse passes on it*/
    transition: 0.5s; /*to give a smoother transition when changing colors*/
}

/*setting the hover effect when mouse stays on the button*/
.main-container ul li button:hover{
    background-color: hsl(25, 97%, 53%);
}

/*setting the hover effect when mouse clicks on the button*/
.main-container ul li button:focus{
    background-color: hsl(217, 12%, 63%);
}

.btn-submit{
    background-color: hsl(25, 97%, 53%);
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 110%;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.btn-submit:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}

/*to set all the items from thank-you aligned at center, in columns*/
.thank-you{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.thank-you img{
    display: block;
    margin: 0 auto 50px;
}

/*customizing paragraph with the rate result*/
.thank-you p.rate-text{
    background-color: hsl(215, 17%, 26%);
    color: hsl(25, 97%, 53%);
    border-radius: 30px;
    padding: 3px 10px 0px;
}

.thank-you p{
    color: hsl(217, 12%, 63%);
    padding: 10px 0px 20px;
    font-style:normal;
}

.thank-you h2{
    color: white;
    padding: 30px 0px 0px;
}

.hidden{
    display:none;
}

.attribution { 
    font-size: 14px;
    text-align: center;
    color: white;
    margin-top: 30px;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
 }